.about {
    height: 60vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--beige);
}

.about h2 {
    font-size: 3rem;
    align-self: flex-start;
    color: var(--darkBlue);
}

.aboutInfoBox {
    display: flex;
    flex-direction: column;
    width: 65vw;
    font-size: 1.3rem;
    font-family: "Assistant", sans-serif;
    font-weight: 500;
    color: var(--darkBlue);
}

.aboutInfoBox section {
    display: flex;
    flex-direction: column;
    row-gap: 2.5vh;
}