footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    background-color: var(--darkBlue);
}

footer h3 {
    font-size: 1.4rem;
    color: var(--beige);
}

footer section {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5vh;
}

.iconContainer {
    display: flex;
    column-gap: 1vw;
}

.iconContainer a {
    text-decoration: none;
    color: #000; 
}

.appIcon {
    height: auto;
    width: 5em;
}

.notificationPopUp {
    font-family: "Inter", sans-serif;
    font-weight: bold;
}

.ln {
    color: var(--beige)
}

.inst {
    color: var(--orange)
}

.dc {
    color: var(--cyan);
}

@media screen and (max-width: 500px) {
    footer h3 {
        font-size: 1.8rem;
    }
}