header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Inter", sans-serif;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    justify-self: end;
    padding-top: 2vh;
}

header a {
    color : var(--darkBlue);
}

.horizontalMenu {
    list-style-type: none;
    overflow: hidden;
    display: flex;
    column-gap: 4vw;
    height: 4vh;
    align-items: center;
    width: 100%;
    justify-content: center;
}

.horizontalMenu li {
    display: inline-block;
    transition: ease 0.3s;
}

.horizontalMenu a {
    text-align: center;
    text-decoration: none;
}

.horizontalMenu li:hover {
    transform: scale(1.3);
}

@media screen and (min-width: 350px) and (max-width: 1279px) { 
    .myHeader {
        display: none;
    }
}

@media screen and (min-width: 1279px) and (max-width: 1536px) { 
    header {
        font-size: 1.2rem;
    }
}