.homeContainer {
    height: 300vh;
    position: relative;
    background-color: azure;

    padding-top: 20vh;
    display: flex;
    flex-direction: column;
    row-gap: 30vh;
}

.horizontalContainer {
    height: 100vh;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.horizontalContainer h1 {
    font-size: 3.5rem;
    text-transform: uppercase;
}

.menuContainer {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.menuContainer h2 {
    font-size: 2rem;
    text-transform: uppercase;
}