.homeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--beige);
}


.greetings {
    display: flex;
    align-items: center;
    column-gap: 5vw;
    width: 65vw;
    height: 80vh;
    margin: 10vh 0 0 0;
}


.greetings img {
    width: 40em;
    border-radius: 12px;
}

.deets{
    width: 55%;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    row-gap: 1vh;
}

.title h1, h3 {
    font-family: "Inter", sans-serif;
}

.title h1 {
    font-size: 3.5rem;
    color: var(--orange);
}

.title h3 {
    color: var(--darkBlue);
}

.textBorder {
    margin-top: 3vh;
    margin-bottom: 3vh;
    border-top: 4px solid var(--darkBlue);
    width: 9vw;
}

.greetings p {
    font-size: 1.3rem;
    font-family: "Assistant", sans-serif;
    font-weight: 500;
    width: 95%;
    color: var(--darkBlue);
}

.heroContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.tie{
    align-self: center;
    font-family: "Inter", sans-serif;
    color: var(--darkBlue);
}

.buttons {
    display: flex;
    column-gap: 1vw;
    margin-top: 2vh;
}

.myButton {
    height: 4em;
    width: 12em;
    font-family: "Inter", sans-serif;
    border-radius: 6px;
    font-weight: bold;
    font-size: 1rem;
    background-color: var(--darkOrange);
    color: var(--beige);
    border-width: 0;
    transition: 0.2s;
}

.myButton:hover {
    box-shadow: 10px 10px 0px 4px var(--darkBlue);
    transform: translate(0, -10px);
}

@media screen and (max-width: 500px) { 
    .greetings {
        flex-direction: column-reverse;
        height: 100%;
        width: 100%;
        margin: 5vh 0 0 0;
        justify-content: flex-end;
                font-weight: 600;
    }

    .greetings img {
        width: 90vw;
    }

    .greetings p {
        text-align: justify;
        width: 100%;
        font-weight: 600;
        font-size: 1.5rem;
    }

    .title h1{
        font-size: 2rem;
    }

    .title h3{
        font-size: 1.5rem;
    }

    .deets {
        margin-top: 5vh;
        height: 60%;
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 30%;
        margin-top: 4vh;
        row-gap: 3vh;
    }
}