.MPContainer {
    display: flex;
    flex-direction: column;
    background-color: var(--darkBlue);
}

.mobilePortfolio {
    row-gap: 8vh;
    margin: 5vh 0 5vh 0;
    justify-content: flex-start;
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.mobileHeadingWrap {

}

.mobileProject h3 {
    color: var(--beige);
    text-align: center;
    font-size: 1.8rem;
}

.mobileHeadingWrap h2 {
    text-align: center;
    color: var(--beige);
    font-size: 3rem;
}

.mobileHeadingUnderline {

}

.mobileImg {
    margin: 3vh 0 3vh 0;
    width: 100%;
    height: auto;
}

.mobileDetails {
    display: flex;
    column-gap: 1em;
    align-items: center;
    justify-content: center;
    color: var(--beige);
}

.mobileDetails a {
    font-size: 1.4rem;
    text-decoration: underline;
    text-underline-offset: 4px;
    color: var(--brightOrange);
    font-family: "Roboto",sans-serif;
    font-weight: 600;
}