.portfolioContainer {
    display: flex;
    flex-direction: column;
    row-gap: 5em;

}

.portfolioContainer h2 {
    font-size: 2.5rem;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    color: var(--beige)
}

.headingWrap {
    align-items: center;
    padding-bottom: 0.83em;
    display: flex;
    position: relative;
}

.headingUnderline {
    width: 100%;
    height: 4px;
    position: absolute;
    background-color: var(--beige);
    bottom: 0;
}

.showcase {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 3em;
    column-gap: 3em;
    width: 80vw;
}

.project {

    height: auto;
    

    padding: 9px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    justify-self: center;
}

.project h3 {
    font-family: Roboto,sans-serif;
    font-size: 1.4rem;
}

.project p {
    font-family: Assistant, sans-serif;
}

/* .project:hover {
    box-shadow: 10px 10px 0px 4px rgba(41,124,80,1);
    transform: translate(0, -10px);
} */

.projectDetails {
    display: flex;
    column-gap: 1em;
    align-items: center;
    margin-top: 1vh;
    color: var(--beige);
}

.projectDetails a {
    text-decoration: underline;
    text-underline-offset: 4px;
    color: var(--brightOrange);
    font-family: "Roboto",sans-serif;
    font-weight: 600;
}

.projectDetails a:hover {
    color: var(--brightBlue);
}

.projectscr {
    margin-bottom: 2vh;
    border-radius: 8px;
    max-width: 100%;
    transition: 0.2s;
    width: 35em;
    height: auto;
    background-color: #959595;
}

.projectBorder {
    height: 4px;
    width: 25%;
    background-color: var(--beige);
}

@media screen and (max-width: 1920px) { 
    .project {
        width: 30em;
    }
}