.projectWrap {
    width: 100%;
    min-height: 100vh;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.leftWrap {
    width: 50%;
    min-height: 100vh
}

.imgContainer {
    width: 100%;
    min-height: 100%;
    grid-column-gap: 3em;
    grid-row-gap: 3em;
    flex-direction: column;
    display: flex;
}

.imgContainer img {
    width: 100%;
    max-width: 100%;
    vertical-align: middle;
    display: inline-block;
}

.detailsContainer {
    width: 50%;
    min-height: 100vh;
    grid-column-gap: 1em;
    grid-row-gap: 1em;
    flex-direction: column;
    justify-content: center;
    align-self: flex-start;
    align-items: flex-start;
    padding-bottom: 5em;
    padding-left: 12.5%;
    padding-right: 6%;
    display: flex;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    right: 0;
}