.skillsContainer {
    height: 95vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: var(--darkBlue);
}

.skillsContainer h2 {
    margin-top: 15.5vh;
    font-size: 3rem;
    align-self: center;
    color: var(--beige);
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    justify-content: space-around;
    padding-left: 10%;
    padding-right: 10%;
}

.skillSection {
    display: flex;
    flex-direction: column;
    row-gap: 12em;
    height: 100%;
    width: 35vw;
}

.skills {
    display: flex;
    flex-direction: row;
    column-gap: 3vw;
}

.skillsCard {
    display: flex;
    flex-direction: column;
    row-gap: 3vh;
    height: fit-content;
    width: 17.5vw;
    color: var(--beige);
    border-radius: 8px;
    padding: 2%;
}

.skillsCard h3 {
    font-size: 2rem;
    text-align: center;
}

.FS {
    background-color: var(--cyan);
}

.GD {
    background-color: var(--darkOrange);
}

.workSection {
    display: flex;
    flex-direction: column;
    row-gap: 12em;
    height: 100%;
    width: 35vw;
}

.workSection h3 {
    color: var(--beige);
    font-size: 2rem;
}

.workSection p {
    font-size: 1.3rem;
    font-weight: 500;
    font-family: "Assistant", sans-serif;
    color: var(--beige);
}

.divider {
    width: 4px;
    height: 60%;
    background-color: var(--beige);
    border-radius: 2px;
}

.cardUL { 
    padding-left: 2vw;
    font-size: 1.3rem;
}

.cardUL li {
    font-weight: 500;
    font-family: "Assistant", sans-serif;
}

.position {
    display: flex;
    flex-direction: column;
    padding: 3%;
    border-radius: 8px;
    row-gap: 1vh;
}

.position p {
    color: var(--beige);
    padding-left: 0.35vw;
}

.GDP h3{
    color: var(--beige);
}

.GDP {
    background-color: var(--darkOrange);
}

.FE {
    background-color: var(--cyan);
}

.workUL li{
    font-weight: 500;
    font-family: "Assistant", sans-serif;
    color: var(--beige);
}

.workUL {
    font-size: 1.3rem;
    padding-left: 1vw;
}

.expcontainer {
    display: flex;
    flex-direction: column;
    row-gap: 3vh;
}

@media screen and (min-width: 350px) and (max-width: 1300px) {

    .skillsContainer {
        height: fit-content;
    }

    .content {
        flex-direction: column;
        height: fit-content;
    } 

    .skillSection, .workSection {
        min-height: 100vh;
        height: fit-content;
        width: 100%;
        row-gap: 8vh;
        margin: 5vh 0 5vh 0;
        justify-content: flex-start;
    }

    .skills {
        align-items: center;
        flex-direction: column;
        row-gap: 5vh;
    }

    .skillsCard, .position {
        width: 90%;
        height: fit-content;
        padding: 3vh 3vw 3vh 3vw;
        font-size: 1.5rem;
    }

    .skillsContainer h2 {
        margin: 0;
    }

    .divider {
        display: none;
    }

    .cardUL, .workUL {
        padding-left: 10%;
    }

    .cardUL, .workUL li {
        font-size: 1.5rem;
    }

    .expcontainer {
        align-items: center;
    }

    .position h3 {
        text-align: center;
    }

    .position {
        row-gap: 3vh;
    }
}

@media screen and (min-width: 1300px) and (max-width: 1800px) {
    .skillsContainer {
        height: fit-content;
    }

    .skillsContainer h2 {
        margin-top: 5vh;
    }

    .skills, .expcontainer{ 
        height: 70vh;
    }

    .workSection, .skillSection {
        row-gap: 10vh;
    }

    
}